<div class="card m-2" id="comments-new">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label class="form-label">닉네임</label>
                <input type="text" class="form-control form-control-sm" id="new-comment-nickname">
            </div>

            <div class="mb-3">
                <label class="form-label">댓글 내용</label>
                <textarea class="form-control form-control-sm" id="new-comment-body" rows="3"></textarea>
            </div>

            {{#article}}
                <input type="hidden" id="new-comment-article-id" value="{{id}}">
            {{/article}}

            <button type="button" class="btn btn-outline-primary btn-sm" id="comment-create-btn">
                댓글 작성
            </button>
        </form>
    </div>
</div>

<script>
    {
        const  commentCreateBtn = document.querySelector("#comment-create-btn");

        commentCreateBtn.addEventListener("click", ()=>{
            const comment = {
                nickname: document.querySelector("#new-comment-nickname").value,
                body: document.querySelector("#new-comment-body").value,
                article_id: document.querySelector("#new-comment-article-id").value
            };

            const url = `/api/articles/${comment.article_id}/comments`;

            fetch(url, {
                method: "POST",
                body: JSON.stringify(comment),
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => {
                const msg = (response.ok) ? "댓글 등록 성공" : "댓글 등록 실패";
                alert(msg);
                window.location.reload();
            });
        });
    }
</script>