<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red"></p>
<form th:action="@{|/members/new|}" th:object="${memberDto}" method="post">
    <!-- @{|/members/new|} : 서버로 보낼 url  memberDTO 객체에 담아서 해당 url로 보냄 -->
    <!-- model.addAttribute("memberDto", new MemberDto()); -->
    이름: <input type="text" th:field="*{username}"/><br/>
    이메일: <input type="email" th:field="*{email}"/><br/>
    비밀번호: <input type="password" th:field="*{password}"/><br/>
    <button type="submit">가입</button>
</form>
</body>
</html>