<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>회원수정</h2>
    <form th:action="@{'/members/' + ${memberDto.id} + '/edit'}" th:object="${memberDto}" method="post">
        이름: <input type="text" th:field="*{username}"/><br/>
        이메일: <input type="email" th:field="*{email}"/><br/>
        비밀번호: <input type="password" th:field="*{password}"/><br/>
        <button type="submit">수정</button>
    </form>
</body>
</html>