/* 작은 사진(1.3.4.5.7.9): 260*260
세로 긴 사진(2): 260*530
가로 긴 사진(6.8): 530*260 
rgba(0,0,255,0.7)*/

* {
    margin: 0;
    padding: 0;
}
.bigbox{
    width: 1070px;
    height: 800px;
    position: relative;
    border: 1px solid blue;
    margin: 100px auto 0;
}
.box{
    width: 260px;
    height: 260px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;    
}
.box::before{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,255,0.7);
    display: block; 
    transition: all 0.5s;
}
.box:hover::before{
    width: 100%;
}
.box6::before{
    width: 100%;
    height: 0%;
}
.box8::before{
    width: 100%;
    height: 0%;
}
.box6:hover::before{
    height: 100%;
}
.box8:hover::before{
    height: 100%;
}
.box img{
    width: 100%;
    display: block;
}
p{
    position: absolute;
    display: block;
    color: #fff;
    /* z-index: 10; */
    text-align: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 30%;
    font-size: 14px;
    background: url("../img/more.png") no-repeat 50% 50%;
}
/* .box:hover:: p{
    display: block;
} */
.box1{
    display: block;
}
.box2 {
    height:530px;
    display: block;
    left: 270px;
}
.box3 {
    display: block;
    left: 540px;
}
.box4 {
    display: block;
    left: 810px;
}
.box5 {
    display: block;
    top: 270px
}
.box6 {
    display: block;
    left: 540px;
    top: 270px;
    width: 530px;
}
.box7 {
    display: block;
    top: 540px
}
.box8 {
    display: block;
    top: 540px;
    left: 270px;
    width: 530px;
}
.box9 {
    display: block;
    top: 540px;
    left: 810px;
}