* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 800px;
  height: 850px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid #333; */
  /* box-sizing: border-box; */
}

header {
  width: 800px;
  height: 350px;
  background: url(../images/top2.jpg) center/cover no-repeat;
  /* display: flex;
  justify-content: right; */
}

header .h_top {
  width: 800px;
  height: 280px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

header h1 {
  width: 120px;
  height: 40px;
  color: white;
  font-weight: bold;
  margin: 40px 60px 40px 40px;
}

header .h_bottom {
  width: 800px;
  height: 70px;
  background-color: rgb(43, 36, 36);
  display: flex;
  justify-content: space-around;
}

header .h_bottom p {
  color: #fff;
  line-height: 70px;
  text-align: center;
}

main {
  width: 800px;
  height: 450px;
  display: flex;
  justify-content: space-between;
}

main section {
  width: 580px;
  height: 450px;
  overflow: hidden;
  background-color: rgb(170, 168, 168);
}

/* main section .bigbox {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
} */

main section h3 {
  text-align: center;
  margin: 10px 0;
}

main section div {
  width: 260px;
  height: 180px;
  border: 1px solid #000;
  background-color: #fff;
  float: left;
  margin-left: 19px;
  margin-bottom: 15px;
  text-align: justify;
}

main section div h4 {
  padding-left: 30px;
  padding-bottom: 7px;
  padding-top: 7px;
  background: url(../images/14.png) no-repeat 0 50%;
  background-size: 30px auto;
}

main aside {
  width: 220px;
  height: 450px;
  background-color: rgb(122, 106, 87);
}

aside h3 {
  text-align: center;
  margin: 10px 0;
}

aside img {
  width: 190px;
  height: auto;
  margin: 0 15px 10px 15px;
}

footer {
  width: 800px;
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 50px;
}